<!DOCTYPE html>
<html>
<head>
<title>ProJet Dashboard</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- CALENDAR -->


  <!-- Latest compiled and minified CSS -->

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

{% include "topBar.html" %}
{% include "sideBar.html" %}

<script type="text/javascript">

  window.onload = function setOrgs() {
  var myDivOrgs = document.getElementById("myDivOrgs");

  //Create array of options to be added
  var array = JSON.parse("{{orgs | safe }}");

  //Create and append select list
  var selectList = document.createElement("select");
  selectList.setAttribute("id", "mySelect");
  myDivOrgs.appendChild(selectList);

  //Create and append the options
  for (var i = 0; i < array.length; i++) {
      var option = document.createElement("option");
      option.setAttribute("value", array[i]);
      option.text = array[i];
      selectList.appendChild(option);
  }
}





function addTable() {
      
    var myTableDiv = document.getElementById("myDynamicTable");
    
    var statusIssuesDevs = JSON.parse('{{statusIssuesDevs|tojson|safe}}');
    var statusPointsDevs = JSON.parse('{{statusPointsDevs|tojson|safe}}');

    var table = document.createElement('TABLE');
    table.border='1';
    
    var tableBody = document.createElement('TBODY');
    table.appendChild(tableBody);
      
    for (i in statusIssuesDevs){
       var tr = document.createElement('TR');
       tableBody.appendChild(tr);

       var th = document.createElement('TH');
       th.width='95';
       th.appendChild(document.createTextNode(i));
       tr.appendChild(th);

       var totalIssues = 0;
       for (j in statusIssuesDevs[i]){
           var td = document.createElement('TD');
           td.width='75';
           td.appendChild(document.createTextNode(j + ":" + statusIssuesDevs[i][j]));
           tr.appendChild(td);
           totalIssues = totalIssues + statusIssuesDevs[i][j];
       }

       var tht = document.createElement('TH');
       tht.width='55';
       tht.appendChild(document.createTextNode("Total: " + totalIssues));
       tr.appendChild(tht);

    }
    myTableDiv.appendChild(table);


    var br = document.createElement("br");
    myTableDiv.appendChild(br);

    var pointHeader = document.createElement("h2");
    myTableDiv.appendChild(pointHeader);


    var table2 = document.createElement('TABLE');
    table2.border='1';
    
    var tableBody2 = document.createElement('TBODY');
    table2.appendChild(tableBody2);
      
    for (i in statusPointsDevs){
       var tr2 = document.createElement('TR');
       tableBody2.appendChild(tr2);

       var th2 = document.createElement('TH');
       th2.width='95';
       th2.appendChild(document.createTextNode(i));
       tr2.appendChild(th2);
 
       var totalIssues2 = 0;
       for (j in statusPointsDevs[i]){
           var td2 = document.createElement('TD');
           td2.width='75';
           td2.appendChild(document.createTextNode(j + ":" + statusPointsDevs[i][j]));
           tr2.appendChild(td2);
           totalIssues2 = totalIssues2 + statusIssuesDevs[i][j];
       }

       var tht2 = document.createElement('TH');
       tht2.width='95';
       tht2.appendChild(document.createTextNode("Total: " + totalIssues2));
       tr2.appendChild(tht2);
    }
    myTableDiv.appendChild(table2);

    
}

</script>

</head>
<body>

<p id="dashboard"></p>
<div class="content container-fluid">
<form action="" method="post">
  <fieldset>
    <legend>ProJet</legend>
    Org:<br>
    <input type="text" name="org" id="org" placeholder="org" value="TesteProGest" autofocus>
    <br>
    Repo:<br>
    <input type="text" name="repo" value="progest" placeholder="repo">
    <br><br>
    <input type="checkbox" name="locally">Download chart image<br>
    <br><br>

    <input type="submit" value="Projet"><br>
    <br>
    <!-- <div id="myDivOrgs" align="middle">Orgs</div>
    <div id="myDivRepos" align="right">Repos {{orgs}}</div> -->
  </fieldset>
</form>
{% if render %}
  <h1>DashBoard - {{org}}/{{repo}}</h1>
  <h2>Indicadores gerais</h2>
  <table>
  <tr>
  <th>  Issues  </th>
  <th>  Tarefas  </th>
  <th>  Pull requests  </th>
  <th>  Pontos  </th>
  <th>  Tarefas planeadas </th>
  <th>  Tarefas não planejadas </th>
  </tr>
  <tr>
  <td>  {{issuesIndicators[0]}} </td>
  <td>  {{issuesIndicators[1]}} </td>
  <td>  {{issuesIndicators[2]}} </td>
  <td>  {{issuesIndicators[3]}} </td> 
  <td>  {{issuesIndicators[4]}} </td>
  <td>  {{issuesIndicators[5]}} </td>
  </tr>
  </table>
  

 
  <h2>Gráficos</h2>
  <div class="container">
    <div class="row">
        <div class="col-md-6">
           <li align="middle">Pontos por sprint</li>
           <div id="donut-points-sprints"></div>
        </div>
        <div class="col-md-6">
          <li align="middle" >Issues por sprint</li>
          <div id="donut-issues-sprints" ></div>
        </div>
    </div>
  </div>

  <br><br><br><br>

  <div class="container">
    <div class="row">
        <div class="col-md-6">
           <li align="middle"><h3>Dev</h3></li>
            <div id="bar-chart-assignees" ></div>
        </div>
        <div class="col-md-6">
          <li align="middle" ><h2>Sprint</h2></li>
            <div id="bar-chart-status" ></div>
        </div>
    </div>
  </div>

  <br><br><br><br>

  <div class="container">
    <div class="row">
        <div class="col-md-6">
           <li align="middle">Status por dia</li>
              <div id="area-example" ></div>
        </div>
        <div class="col-md-6">
          <li align="middle" >Pontos e Issues por dia</li>
             <div id="myfirstchart" style="height: 250px;"></div>
        </div>
    </div>
  </div>

  <!-- OLD CHARTS -->
  <!-- <img src={{ charts[0] }} alt="ChartA" align="middle">
  <p>{{ a }}</p>
  <img src={{ charts[1] }} alt="ChartB" align="middle">
  <p>{{ b }}</p>
  <img src={{ charts[2] }} alt="ChartC" align="middle">
  <img src={{ charts[3] }} alt="ChartD" align="middle">
  <img src={{ charts[4] }} alt="ChartE" align="middle">
  <img src={{ charts[5] }} alt="ChartF" align="middle">
  <img src={{ charts[6] }} alt="ChartG" align="middle">
  <img src={{ charts[7] }} alt="ChartH" align="middle">
  <img src={{ charts[8] }} alt="ChartI" align="middle">
  <img src={{ charts[9] }} alt="ChartJ" align="middle"> -->


  <h2>Tags/Labels</h2>
  <h2>Issues</h2>
<div id="myDynamicTable">
  <script type="text/javascript">
      document.getElementById("demo").innerHTML = addTable();
  </script>

</div>

{% else %}
  <h1>Ops!</h1>
  <p>Please <a href="/login" target="_top">try again</a></p>
  <p>If persists, try <a href="/logout" target="_top">later</a></p>
{% endif %}
</div>
<br><br>
<script type="text/javascript">


/*
 * Play with this code and it'll update in the panel opposite.
 *
 * Why not try some of the options above?
 */

var dataDonutPointsChart = JSON.parse('{{donutSprintsPointsChart|tojson|safe}}');
var dataDonutIssuesChart = JSON.parse('{{donutSprintsIssuesChart|tojson|safe}}');
  /*[
    {label: "Download Sales", value: 12},
    {label: "In-Store Sales", value: 30},
    {label: "Mail-Order Sales", value: 20}
  ];
*/
Morris.Donut({
  element: 'donut-points-sprints',
  data: dataDonutPointsChart
});

Morris.Donut({
  element: 'donut-issues-sprints',
  data: dataDonutIssuesChart
});


/*
 * Play with this code and it'll update in the panel opposite.
 *
 * Why not try some of the options above?
 */
 var dataBarChartAssignees = JSON.parse('{{dataBarChartAssignees|tojson|safe}}');
 var dataBarChartStatus = JSON.parse('{{dataBarChartStatus|tojson|safe}}');
 var labelsBarA = '{{labelsBarA}}';
 var labelsBarB = '{{labelsBarB}}';

Morris.Bar({
  element: 'bar-chart-assignees',
  data: dataBarChartAssignees ,
  xkey: 'y',
  ykeys: ['a', 'b'],
  labels: [labelsBarA, labelsBarB]

});

Morris.Bar({
  element: 'bar-chart-status',
  data: dataBarChartStatus ,
  xkey: 'y',
  ykeys: ['a', 'b'],
  labels: [labelsBarA, labelsBarB]

});



new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'myfirstchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [
    { year: '2008', value: 20 },
    { year: '2009', value: 10 },
    { year: '2010', value: 5 },
    { year: '2011', value: 5 },
    { year: '2012', value: 20 }
  ],
  // The name of the data record attribute that contains x-values.
  xkey: 'year',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['value'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels:
   ['Value']
});

/*
 * Play with this code and it'll update in the panel opposite.
 *
 * Why not try some of the options above?
 */

var labelsBarA = '{{labelsBarA}}';
var labelsBarB = '{{labelsBarB}}';

 var areaQADone = JSON.parse('{{areaQADone|tojson|safe}}');


Morris.Area({
  element: 'area-example',
  
  data: areaQADone,/*[
    { y: '2006', a: 100, b: 90 },
    { y: '2007', a: 75,  b: 65 },
    { y: '2008', a: 50,  b: 40 },
    { y: '2009', a: 75,  b: 65 },
    { y: '2010', a: 50,  b: 40 },
    { y: '2011', a: 75,  b: 65 },
    { y: '2012', a: 100, b: 90 }
  ],*/
  xkey: 'y',
  ykeys: ['a', 'b'],
  labels: [labelsBarA, labelsBarB]

});

</script>
</body>
</html>
