<!DOCTYPE html>
<html>
<body>
<title>ProJet Login</title>
<form action="" method="post">
  <fieldset>
    <legend>Login with GitHub:</legend>
    <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" width="128" height="128" align="right">
    Login:<br>
    <input type="text" name="username" id="username" placeholder="login" autofocus>

    <br>

    Senha:<br>
    <input type="password" name="password" placeholder="senha">
    <br><br>
    <input type="submit" value="Login">
    
  </fieldset>
</form>

</body>
</html>