<!DOCTYPE html>
<html>
<body>
<title>ProJet Setup</title>
<form action="" method="post">
  <fieldset>
    <legend>GitHub setup:</legend>
    <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" width="128" height="128" align="right">
    Setup:<br>
    <input type="text" name="org" id="org" placeholder="org" autofocus>

    <br>

    Senha:<br>
    <input type="text" name="repo" placeholder="repo">
    <br><br>
    <input type="submit" value="Setup">
    
  </fieldset>
</form>

</body>
</html>