<!DOCTYPE html>
<html>
<head>
  <title>Timesheet</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- CALENDAR -->


  <!-- Latest compiled and minified CSS -->

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

{% include "topBar.html" %}
{% include "sideBar.html" %}

<style type="text/css">

/* CHARTS */

#donut-chart {
  height:400px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: -webkit-flex;
   
}

#container {
  flex: 1;
}


/* TABLES */

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #24746c;
    color: black;
}

tr:hover {
  background-color: rgba(26,127,117,0.9);
  color: white
}

  table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

</style>



<script type="text/javascript">


  var days = 0;

// Utils
// http://stackoverflow.com/questions/3066586/get-string-in-yyyymmdd-format-from-js-date-object
//Use this method - it does handle double digits correctly
Date.prototype.yyyymmdd = function() {
  var mm = (this.getMonth() + 1).toString(); // getMonth() is zero-based
  var dd = this.getDate().toString();

  return [this.getFullYear(), mm.length===2 ? '-' : '-0', mm, dd.length===2 ? '-' : '-0', dd].join(''); // padding
};


 Date.prototype.addDays = function(days)
      {
          var d = new Date(this.valueOf());
          d.setDate(d.getDate() + days);
          return d;
      }


// http://stackoverflow.com/questions/3387427/remove-element-by-id
  Element.prototype.remove = function() {
      this.parentElement.removeChild(this);
  }
  NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
      for(var i = this.length - 1; i >= 0; i--) {
          if(this[i] && this[i].parentElement) {
              this[i].parentElement.removeChild(this[i]);
          }
      }
  }

//

  function addRow() {
            
      var project = document.getElementById("project");
      var begin = document.getElementById("begin");
      var end = document.getElementById("end");
      var total = "total";
      var activity = document.getElementById("activity");
      var issue = document.getElementById("issue");
      var comment = document.getElementById("comment");
      var table = document.getElementById("myTableData");
   
      var rowCount = table.rows.length;
      var row = table.insertRow(rowCount);
   
      row.insertCell(0).innerHTML= project.value;
      row.insertCell(1).innerHTML= begin.value;
      row.insertCell(2).innerHTML= end.value;
      row.insertCell(3).innerHTML= total.value;
      row.insertCell(4).innerHTML= activity.value;
      row.insertCell(5).innerHTML= issue.value;
      row.insertCell(6).innerHTML= '<input type="text" class="form-control" id="projectEditComment" placeholder="comment" value=comment.value>';
      row.insertCell(7).innerHTML= '<input type="button" value = "Edit" onClick="Javacsript:editRow(this)">';
      row.insertCell(8).innerHTML= '<input type="button" value = "Delete" onClick="Javacsript:deleteRow(this)">';

   
  }
   
  function deleteRow(obj) {
        
      var index = obj.parentNode.parentNode.rowIndex;
      var table = document.getElementById("myTableData");
      table.deleteRow(index);
      
  }
   
  function editRow(obj) {
        
      var index = obj.parentNode.parentNode.rowIndex;
      var table = document.getElementById("myTableData");
      table.deleteRow(index);
      
  }

  function resetTable() {
    console.log("Reset tables")
    var tables = document.getElementsByTagName("TABLE");
    for (var i=tables.length-1; i>=0;i-=1)
       if (tables[i]) tables[i].parentNode.removeChild(tables[i]);
  }
   
  function addTableRaw() {
      var myTableDiv = document.getElementById("myDynamicTable");
        
      var table = document.createElement('TABLE');
      table.border='1';
      
      var tableBody = document.createElement('TBODY');
      table.appendChild(tableBody);
        
      for (var i=0; i<3; i++){
         var tr = document.createElement('TR');
         tableBody.appendChild(tr);
         
         for (var j=0; j<4; j++){
             var td = document.createElement('TD');
             td.width='75';
             td.appendChild(document.createTextNode("Cell " + i + "," + j));
             tr.appendChild(td);
         }
      }
      myTableDiv.appendChild(table);
      
  }

  var chartData = []

  function addTable(timesheetUserDate) {

      resetTable(); 
      chartData = []

      console.log("Will add a table");
    
      var myTableDiv = document.getElementById("myDynamicTable");

      var table = document.createElement('TABLE');
      table.border='1';
      
      var tableBody = document.createElement('TBODY');
      table.appendChild(tableBody);

      var trH = document.createElement('TR');
      tableBody.appendChild(trH);

      var thH = document.createElement('TH');
      thH.width='35';
      thH.appendChild(document.createTextNode("#"));
      trH.appendChild(thH);

      thH = document.createElement('TH');
      thH.width='75';
      thH.appendChild(document.createTextNode("Projeto"));
      trH.appendChild(thH);
      thH = document.createElement('TH');
      thH.width='75';
      thH.appendChild(document.createTextNode("Começo"));
      trH.appendChild(thH);
      thH = document.createElement('TH');
      thH.width='75';
      thH.appendChild(document.createTextNode("Fim"));
      trH.appendChild(thH);
      thH = document.createElement('TH');
      thH.width='75';
      thH.appendChild(document.createTextNode("Adicionado"));
      trH.appendChild(thH);
      thH = document.createElement('TH');
      thH.width='75';
      thH.appendChild(document.createTextNode("Atividade"));
      trH.appendChild(thH);
      thH = document.createElement('TH');
      thH.width='75';
      thH.appendChild(document.createTextNode("Tarefa"));
      trH.appendChild(thH);
      thH = document.createElement('TH');
      thH.width='75';
      thH.appendChild(document.createTextNode("Comentário"));
      trH.appendChild(thH);

      thH = document.createElement('TH');
      thH.width='75';
      thH.appendChild(document.createTextNode("Total"));
      trH.appendChild(thH);

        
      for (i in timesheetUserDate){
         var tr = document.createElement('TR');
         tableBody.appendChild(tr);

         var th = document.createElement('TH');
         th.width='35';
         th.appendChild(document.createTextNode(i));
         tr.appendChild(th);

         var totalIssues = 0;
         var timesheetInputs = ['project',"begin","end","date",'activity',"issue","comment"];
        for (j in timesheetInputs){
            console.log(j)
            totalIssues = 0;
            var td = document.createElement('TD');
            td.width='75';
            td.appendChild(document.createTextNode(timesheetUserDate[i][j]));
             
            totalIssues = timesheetUserDate[i]["begin"] + timesheetUserDate[i]["end"];

            tr.appendChild(td);
        }
        
        chartData.push({'label':timesheetUserDate[i]["issue"],'value':totalIssues})
        

         var tht = document.createElement('TH');
         tht.width='55';
         tht.appendChild(document.createTextNode(totalIssues));
         tr.appendChild(tht);

      }
      myTableDiv.appendChild(table);

      loadCharts(chartData) 
  }

  function loadTimesheetTable() {
    var timesheetsUserDateToShow = retrieveTimesheetByDay(days)
    if (timesheetsUserDateToShow != null) {
      addTable(timesheetsUserDateToShow)
    }
  }

  function retrieveTimesheetByDay(days) {
    console.log("days")
    console.log(days)

    var timesheetsUser = JSON.parse('{{timesheetsViewModel|tojson|safe}}');
  console.log("timesheetsUser");
  console.log(timesheetsUser);


      var date = new Date();
  console.log("date.yyyymmdd()");
  console.log(date.yyyymmdd());


      var daysToMove = days
      var dat = new Date();

      var dateToShow = dat.addDays(daysToMove).yyyymmdd()
  console.log("dateToShow");
  console.log(dateToShow);


      var timesheetUserDate = timesheetsUser.filter(function( obj ) {
          return obj.date == dateToShow;
      });
  console.log("timesheetUserDate");   
  console.log(timesheetUserDate);   


  // Filter
  //http://stackoverflow.com/questions/10123953/sort-javascript-object-array-by-date
  // (function(){
  //       if (typeof Object.defineProperty === 'function'){
  //         try{Object.defineProperty(Array.prototype,'sortBy',{value:sb}); }catch(e){}
  //       }
  //       if (!Array.prototype.sortBy) Array.prototype.sortBy = sb;

  //       function sb(f){
  //         for (var i=this.length;i;){
  //           var o = this[--i];
  //           this[i] = [].concat(f.call(o,o,i),o);
  //         }
  //         this.sort(function(a,b){
  //           for (var i=0,len=a.length;i<len;++i){
  //             if (a[i]!=b[i]) return a[i]<b[i]?-1:1;
  //           }
  //           return 0;
  //         });
  //         for (var i=this.length;i;){
  //           this[--i]=this[i][this[i].length-1];
  //         }
  //         return this;
  //       }
  //     })();

  //     var sortedTimesheets = timesheetsUser.sortBy(
  //       function(o){
  //        return new Date(o.date) 
  //       });
  // console.log(sortedTimesheets)

  return timesheetUserDate;

  }

   
  function previousDay() {
    days = days - 1
    // document.getElementById("myDynamicTable").remove();
    loadTimesheetTable() 
  }

   
  function nextDay() {
    days = days + 1
    // document.getElementById("myDynamicTable").remove();
    loadTimesheetTable() 
  }
   
  function load() {
    console.log("Page load finished");
      
  }

  function clearBox(elementID)
  {
    document.getElementById(elementID).innerHTML = "";
  }
   
  function loadCharts(chartData) {

    clearBox("donut-chart")
    clearBox("bar-chart")

    var donut = Morris.Donut({
      element: 'donut-chart',
      data: chartData,
      colors: ['#fff400','#00ff04','#00ecff','#ff0000','#ff7400']
    });

    var bar = Morris.Bar({
      element: 'bar-chart',
      data: chartData,
      barColors: function(row, series, type) {
      if(series.key == 'b')
      {
        if(row.y < 70)
          return "red";
        else
          return "blue";  
      }
      else
      {
        return "green";
      }
      },
      resize: true,
      barRatio: 0.4,
      xLabelAngle: 35,
      hideHover: 'auto',
      postUnits: ' g/km',
      formatter: function (y) {
          return y + " g/km"
      }
    });

    donut.setData(chartData);
    bar.setData(chartData);

  }

</script>

</head>

<body onload="load()">
<div class="content container-fluid">
<fieldset>  
    <legend>Timesheet</legend>

  <form id="myform" class="row form-inline container-fluid" method="post">
    <div class="form-group">
      <div class="col-sm-2 col-xs-6">
        <b>Projeto</b>
        <input type="text" class="form-control" id="project" name="project" placeholder="Project">
      </div>

      <div class="col-sm-2 col-xs-6">
        <b>Começo</b>
        <input type="text" class="form-control" id="begin" name="begin" placeholder="Begin">
      </div>
      <div class="col-sm-2 col-xs-6">
        <b>Fim</b>
        <input type="text" class="form-control" id="end" name="end" placeholder="End">
      </div>

      <div class="col-sm-2 col-xs-6">
        <b>Atividade</b>
        <input type="text" class="form-control" id="activity"  name="activity" placeholder="Activity">
      </div>
      <div class="col-sm-2 col-xs-6">
        <b>Issue</b>
        <input type="text" class="form-control" id="issue" name="issue" placeholder="Issue">
      </div>
      <div class="col-sm-2 col-xs-6">
        <b>Comentario</b>
        <input type="text" class="form-control" id="comment" name="comment" placeholder="Comment">
      </div>

        <br><br>
        <br><br>
      <div class="col-sm-12 col-xs-6" align="center">
        <input type="submit" id="add" class="btn btn-success" onclick="Javascript:addRow()" value="Adicionar" >
      </div>
    </div>

  </form>
</fieldset>  
  <br>  
    <div class="form-group col-sm-2 col-xs-2" align="left" >
      <input type="button"  id="previousDay" class="btn btn-success" onclick="Javascript:previousDay()" value="<<" >
    </div>
    <div align="center" class="form-group col-sm-8 col-xs-8">
      <h3>Apontamentos</h3>
    </div>
    <div class="form-group col-sm-2 col-xs-2" align="right">
      <input type="button" id="nextDay" class="btn btn-success" onclick="Javascript:nextDay()" value=">>" >
    </div>

  <div id="myDynamicTable">
    <script type="text/javascript">
        document.getElementById("demo").innerHTML = loadTimesheetTable();
    </script>

  </div>

<div class="col-sm-12 col-xs-12">
  <div class="col-sm-2 col-xs-6">
    <b>Projeto</b>
   </div>
  <div class="col-sm-1 col-xs-6">
    <b>Começo</b>
   </div>
  <div class="col-sm-1 col-xs-6">
    <b>Fim</b>
   </div>
  <div class="col-sm-2 col-xs-6">
    <b>Atividade</b>
   </div>
  <div class="col-sm-2 col-xs-6">
    <b>Issue</b>
   </div>
  <div class="col-sm-4 col-xs-6">
    <b>Commentário</b>
 </div>

  {%for o in timesheetsViewModel %}
  {%if o.date ==  dateCalendar%}
  <div class="col-sm-2 col-xs-6">
    <input type="text" class="form-control" id="comment" name="comment" value="{{ o.project }}" disabled>
   </div>
  <div class="col-sm-1 col-xs-6">
    <input type="text" class="form-control" id="comment" name="comment" value="{{ o.begin }}" disabled>
   </div>
  <div class="col-sm-1 col-xs-6">
    <input type="text" class="form-control" id="comment" name="comment" value="{{ o.end }}" disabled>
   </div>
  <div class="col-sm-2 col-xs-6">
    <input type="text" class="form-control" id="comment" name="comment" value="{{ o.activity }}" disabled>
   </div>
  <div class="col-sm-2 col-xs-6">
    <input type="text" class="form-control" id="comment" name="comment" value="{{ o.issue }}" disabled>
   </div>
  <div class="col-sm-4 col-xs-6">
    <input type="text" class="form-control" id="comment" name="comment" value="{{ o.comment }}" disabled>
 </div>
  {% endif %} 
  {% endfor %} 
</div>
 
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
           <li align="middle"><h4>Pontos por sprint</h4></li>
           <div id="donut-chart"></div>
        </div>
       
        <div class="col-md-6">
          <li align="middle" ><h4>Sprint</h4></li>
            <div id="bar-chart" ></div>
        </div>
    </div>
  </div>

<p id="demo"></p>

</div>

<script type="text/javascript">


/*
 * Play with this code and it'll update in the panel opposite.
 *
 * Why not try some of the options above?
 */

  /*[
    {label: "Download Sales", value: 12},
    {label: "In-Store Sales", value: 30},
    {label: "Mail-Order Sales", value: 20}
  ];
*/


  console.log("chartData")
  console.log(chartData)


  $(function () {
      window.m = Morris.Donut({
    element: 'donut-chart',
    data: chartData,
    colors: ['#fff400','#00ff04','#00ecff','#ff0000','#ff7400']
  });

   $(window).on('resize', function() {
         if (!window.recentResize) {
            window.m.redraw();
            window.recentResize = true;
            setTimeout(function(){ window.recentResize = false; }, 200);
         }
      });
  });

  /*
   * Play with this code and it'll update in the panel opposite.
   *
   * Why not try some of the options above?
   */


   var labelsBarA = 'AAAAA';

  Morris.Bar({
    element: 'bar-chart',
    data: chartData ,
    xkey: 'label',
    ykeys: ['value'],
    labels: [labelsBarA],
    barColors: function(row, series, type) {
      if(series.key == 'b')
      {
        if(row.y < 70)
          return "red";
        else
          return "blue";  
      }
      else
      {
        return "green";
      }
      },
      resize: true,
      barRatio: 0.4,
      xLabelAngle: 35,
      hideHover: 'auto',
      postUnits: ' g/km',
      formatter: function (y) {
          return y + " g/km"
      }

  });


//   window.Morris.Donut.prototype.setData = function(data, redraw) {
//     if (redraw == null) {
//         redraw = true;
//     }
//     this.data = data;
//     this.values = (function() {
//     var _i, _len, _ref, _results;
//     _ref = this.data;
//     _results = [];
//     for (_i = 0, _len = _ref.length; _i < _len; _i++) {
//         row = _ref[_i];
//         _results.push(parseFloat(row.value));
//     }
//     return _results;
//     }).call(this);
//     this.dirty = true;
//     if (redraw) {
//         return this.redraw();
//     }
// }

</script>

</body>
</html>